<?xml version="1.0" encoding="UTF-8"?>
<Config>
	<Settings>
		<Profile>ServerProfile</Profile>		<!-- The Server Profile you want to use (ex: ServerName) -->
		<CPU>4</CPU>							<!-- Number of CPU you want to use for your server -->
		<BattleEye>False</BattleEye>			<!-- Enable BattleEye Anti Cheat ? -->
	</Settings>
	<Path>
		<SteamCMD>C:\steam</SteamCMD>			<!-- SteamCMD Path (ex: C:\Steam) -->
		<Server>C:\servers\dayz</Server>	<!-- Config path to Game Server (ex: C:\Steam\steamapps\common\DayzServer) -->
	</Path>
	<Mods>
		<UseLocalModList>True</UseLocalModList>	<!-- Set True to use local mod list (LocalModList.txt) -->
		<CollectionId>2376686769</CollectionId>		<!-- Set Steam Workshop Collection ID (If API List) -->
	</Mods>
	<!-- Enter your Steam Credentials : For security reasons it is recommended that you create a new Steam account just for your dedicated servers -->
	<Credentials> 
		<Username>username</Username>		
		<Password>password</Password>
	</Credentials>
	<Hooks>
		<!--
		# In a future version
		<CustomName>
			<Url>https://discord.com/api/webhooks/_WEBHOOK_SECRET_KEY</Url>
			<Content>The server will open in a few minutes !</Content>
		</CustomName>
		-->
	</Hooks>
</Config>